name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20.2

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build
      run: go build -tags sqlite_vtable -v ./...

    - name: Test
      run: go test -tags sqlite_vtable -race -v ./...

  go_generate:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20.2
    - name: check that 'go generate' is clean
      run: |
        pkgs=$(go list ./...)
        go generate $pkgs
        echo
        echo
        git diff --name-only --exit-code || (echo "The files above need updating. Please run 'go generate'."; exit 1)

  go_mod_tidy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20.2
    - name: check that 'go mod tidy' is clean
      run: |
        pkgs=$(go list ./...)
        go mod tidy
        echo
        echo
        git diff --name-only --exit-code || (echo "Please run 'go mod tidy'."; exit 1)

  dependabot:
    runs-on: ubuntu-latest
    # Only run this job for dependabot PRs
    if: ${{ github.actor == 'dependabot[bot]' }}

    # Only run if the required checks pass
    needs: [build, go_generate, go_mod_tidy]

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Auto-merge Dependabot PRs
        # Find the PR number based on the current branch name, and squash merge based on this number
        run: 'PR_NUM="$(gh pr list | grep $(git branch --show-current) | cut -f1)"; gh pr merge --auto --squash $PR_NUM'
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
